html, body {
	height:100%;
	width:100%;
}


/*Navbar Stoooof */
.navbar {
	background-color: #23415C;
	padding: .5% 0;
	font-size: 1.2em;
}

.navbar-brand {
	min-height:55px;
	padding:0 15px 5px;
}

.navbar-default .navbar-nav li a {
	color: #D5D5D5;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active{
	color: #FFF;
}


/* this is API Content */
.content {
    padding: 80px 0;
    background-color: blanchedalmond;
    margin: 90px 20px 20px 20px;
}


/* Container Below API's */
.content2 {
    padding: 80px 0;
    background-color: aqua;
}


/* Footer */
footer {
	width: 100%;
	background-color: #23415C;
	color: #ffff;
}

/* Footer Goodies */
.fa, h3{
	padding: 15px;
	font-size: 25px;
	color:#FFF;
	vertical-align: center;
	text-align: center;
}

/* weather & UV title id's */
#uvT, #weaT {
    font-size: 50px;
}

h4 {
    color: black;
    font-size: 30px;
}

/*Responsive stooooof */
@media (max-eidth: 768px) {
	.landing-text h1{
		font-size: 300%;
	}
	.fa {
		font-size: 20px;
		padding: 10px;
	}
	.icon{
		padding-top: 5%;
		max-width: 100px;
	}
}

#skin1  {
    padding: 20px 20px;
    background: #F1D1B1;
    width: 2px;
    border-radius: 50%;
    width: 1%;
}

#skin2  {
    padding: 20px 20px;
    background: #E4B590;
    width: 2px;
    border-radius: 100%;
    width: 1%;
}

#skin3  {
    padding: 20px 20px;
    background: #CF9F7D;
    width: 2px;
    border-radius: 100%;
    width: 1%;
}

#skin4  {
    padding: 20px 20px;
    background: #B67851;
    width: 2px;
    border-radius: 100%;
    width: 1%;
}

#skin5  {
    padding: 20px 20px;
    background: #A15E2D;
    width: 2px;
    border-radius: 100%;
    width: 1%;
}

#skin6  {
    padding: 20px 20px;
    background: #513938;
    width: 2px;
    border-radius: 100%;
    width: 1%;
}

th {
    text-align: left;
    text-align: center;
}

/* color for city & uv titles */
#city, #uv {
color: #23415C;
}

/* table alignment */
#td1, #td2, #td3, #td4, #td5, #td6 {
    text-align: center;
}

/* table alignment */
#td11, #td22, #td33, #td44, #td55 {
    text-align: center;
    font-weight: normal;
}

#risk1, #risk2, #risk3, #risk4, #risk5 {
    vertical-align: center;
    font-weight: normal;
    text-align: center;
}

#tbody {
    vertical-align: center;
}